<% content_for :title do %>About<% end %>
<h3>About Paul Teall</h3>
<p>He is awesome. He does many things. He is your new favorite developer.</p>
<p>His favorite quotation is:</p>
<p>"Use the force, Harry." - Gandalf</p>